<p id="notice"><%= notice %></p>

<h1>Consumers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @consumers.each do |consumer| %>
      <tr>
        <td><%= consumer.email %></td>
        <td><%= consumer.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consumer', new_consumer_path %>
